*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-button:end {
  height: 10px;
  width: 30%;
}
*::-webkit-scrollbar-button:start {
  height: 10px;
  width: 30%;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

html {
  font-family: "Roboto";
}

.noDisplay {
  display: none;
}

body {
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
  background-color: rgb(238, 238, 238);
  flex-direction: row;
}
.main .sideNav {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(34, 40, 49);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
  gap: 2rem;
  color: rgb(238, 238, 238);
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.main .sideNav .logo {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 20px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}
.main .sideNav .logo img {
  width: 3rem;
}
.main .sideNav .logo img:hover {
  cursor: pointer;
}
.main .sideNav .ul1 {
  font-size: 1.4rem;
}
.main .sideNav .ul1 .mainUl {
  list-style: none;
}
.main .sideNav .ul1 li {
  border-bottom: solid rgba(238, 238, 238, 0.219) 0.5px;
  margin-bottom: 15px;
}
.main .sideNav .ul1 li a {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-decoration: none;
  color: rgb(238, 238, 238);
  margin-bottom: 10px;
}
.main .sideNav .ul1 li img {
  width: 2rem;
}
.main .sideNav .ul2 {
  font-size: 1.4rem;
}
.main .sideNav .ul2 .secondaryUl {
  list-style: none;
}
.main .sideNav .ul2 li {
  border-bottom: solid rgba(238, 238, 238, 0.219) 0.5px;
  margin-bottom: 15px;
}
.main .sideNav .ul2 li a {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-decoration: none;
  color: rgb(238, 238, 238);
  margin-bottom: 10px;
}
.main .sideNav .ul2 li img {
  width: 2rem;
}
.main .mainPage {
  container: mainContent/inline-size;
  width: 100%;
  height: 100vh;
}
.main .mainPage .topSearchArea {
  display: flex;
  padding: 10px 3%;
  width: 100%;
  justify-content: space-between;
}
.main .mainPage .topSearchArea .searchBar {
  flex-basis: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main .mainPage .topSearchArea .searchBar input {
  width: 70%;
  background-color: rgba(0, 173, 181, 0.2);
  height: 1.5rem;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.main .mainPage .topSearchArea .user {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main .mainPage .searchAndWelcome {
  box-shadow: 0px 0px 20px -2px rgb(57, 62, 70);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 150px;
}
.main .mainPage .searchAndWelcome .welcomeDiv {
  display: flex;
  padding: 0px 2.5%;
  padding-bottom: 10px;
}
.main .mainPage .searchAndWelcome .welcomeDiv .userInfo {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-basis: 70%;
}
.main .mainPage .searchAndWelcome .welcomeDiv .userInfo img {
  width: 4.5rem;
}
.main .mainPage .searchAndWelcome .welcomeDiv .userInfo .userInfoText p {
  font-size: 1.2rem;
}
.main .mainPage .searchAndWelcome .welcomeDiv .userInfo .userInfoText h2 {
  font-size: 1.8rem;
}
.main .mainPage .searchAndWelcome .welcomeDiv .buttonsDiv {
  display: flex;
  flex-wrap: nowrap;
  row-gap: 10px;
  margin: auto;
  flex-basis: 30%;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.main .mainPage .searchAndWelcome .welcomeDiv .buttonsDiv button {
  background-color: rgb(0, 173, 181);
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 20px;
  color: rgb(238, 238, 238);
  font-size: 1.3rem;
  font-weight: 600;
}
.main .mainPage .searchAndWelcome .welcomeDiv .buttonsDiv button:hover {
  cursor: pointer;
  border: solid 3px rgb(34, 40, 49);
}
.main .mainPage .content {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  display: flex;
  padding: 2%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-bottom: 4rem;
}
.main .mainPage .content .projectDiv {
  flex-basis: 80%;
  height: 100%;
}
.main .mainPage .content .projectDiv .projects {
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgb(112, 112, 112);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main .mainPage .content .projectDiv .projects div {
  width: 100%;
  padding: 3%;
  min-height: 175px;
  border-radius: 20px;
  border-left: rgb(0, 173, 181) solid 8px;
  background-color: rgba(0, 173, 181, 0.05);
  box-shadow: 5px 5px 10px -5px rgb(112, 112, 112);
  overflow-y: hidden;
}
.main .mainPage .content .projectDiv .projects div:hover {
  overflow-y: auto;
}
.main .mainPage .content .sideContent {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
}
.main .mainPage .content .sideContent .announcementsDiv {
  height: 50%;
}
.main .mainPage .content .sideContent .announcementsDiv h2 {
  margin-bottom: 5px;
  height: 30px;
}
.main .mainPage .content .sideContent .announcementsDiv .announcements {
  height: calc(100% - 35px);
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px -5px rgb(112, 112, 112);
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .mainPage .content .sideContent .announcementsDiv .announcements .underline {
  border-bottom: solid rgba(34, 40, 49, 0.3) 1px;
}
.main .mainPage .content .sideContent .announcementsDiv .announcements .underline p {
  margin-bottom: 10px;
}
.main .mainPage .content .sideContent .trendingDiv {
  height: 50%;
}
.main .mainPage .content .sideContent .trendingDiv h2 {
  margin-bottom: 5px;
  height: 30px;
}
.main .mainPage .content .sideContent .trendingDiv .trending {
  box-shadow: 5px 5px 10px -5px;
  border-radius: 20px;
  max-height: calc(100% - 30px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5%;
}
.main .mainPage .content .sideContent .trendingDiv .trending .trendDiv {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

@container mainContent (width < 750px) {
  .searchAndWelcome .buttonsDiv {
    flex-wrap: wrap !important;
  }
  .welcomeDiv {
    flex-direction: column;
    row-gap: 15px;
  }
  .projectDiv {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .projectDiv .projects {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 950px) {
  .searchAndWelcome {
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .content .projectDiv {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .content .projectDiv .projects {
    display: flex !important;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .content .sideContent {
    margin-top: 20px;
    flex-direction: column !important;
    -moz-column-gap: 30px;
         column-gap: 30px;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .sideContent {
    margin-top: 20px;
    flex-direction: row !important;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .announcementsDiv {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-basis: 50%;
  }
  .trendingDiv {
    flex-basis: 50%;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .trendingDiv .trending {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    max-height: none !important;
  }
}